# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class

# 环境变量
.env
.env.*

# Mac 系统文件
.DS_Store

# VSCode 配置文件
.vscode/

# 抓取数据 & 输出内容（避免上传大文件）
data/
outputs/
*.xlsx
*.csv
*.json

# Jupyter 笔记本检查点
*.ipynb_checkpoints
